<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>

<header th:replace="fragments/layout :: header"></header>

	<div class="container ">

		<div class="card my-4 bg-dark text-white">
			<div class="card-header">
				<h5 th:text="${titulo}"></h5>
			</div>
			<div class="card-body">

				<div class="row">
					<div class="col-sm-8">
						<form th:action="@{/form}" method="post" th:object="${cliente}" enctype="multipart/form-data" >
		
							<div class="form-group row">
								<label class="col-form-label col-sm-2">Nombre</label>
								<div class="col-sm-10">
									<input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="form-text text-danger"></small>
								</div>
							</div>
		
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Apellido</label>
								<div class="col-sm-10">
									<input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="form-text text-danger"></small>
								</div>
							</div>
		
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Email</label>
								<div class="col-sm-10">
									<input type="text" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></small>
								</div>
							</div>
		
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Fecha</label>
								<div class="col-sm-10">
									<input type="text" th:field="*{createAt}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}" class="form-text text-danger"></small>
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" for="file">Foto</label>
								<div class="col-sm-10">
									<input type="file" name="file" class="form-control">
								</div>
							</div>
							
						 	<div class="form-group ">	 	
						 		<input type="submit" class="btn btn-secondary" value="Agregar Cliente">
						 	</div>
						</form>
					</div>
					
					<div class="col-sm-4 text-center">
						
						<img th:if="${cliente.foto == null}" th:src="@{/uploads/}+'perfil.jpg'" style="width:250px; height:250px" class="img-thumbnail rounded img-fluid">
						<img th:if="${#strings.length(cliente.foto) > 0}" th:src="@{/uploads/}+${cliente.foto}" style="width:250px; height:250px" class="img-thumbnail rounded img-fluid">
					</div>
				</div>
			</div>
		</div>
		
				
	<footer th:replace="fragments/layout :: footer"></footer>

	</div>

</body>
</html>