<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
<header th:replace="fragments/layout :: header"></header>
	<div class="container">
		<div class="card my-4">
			<div class="card-header">
				<h5 class="card-title" th:text="${titulo}"></h5>
			</div>


			<div class="card-body">
			<h6><a class="badge badge-primary" th:href="@{/form}">Crear Cliente</a></h6>
				<table class="table table-striped">
					<thead class="thead-dark">

						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Pellido</th>
							<th>Email</th>
							<th>Fecha</th>
							<th>Factura</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>

					</thead>
					
					<tbody>
					<tr th:each="cliente : ${clientes}">
					<th ><a th:text="${cliente.id}" class="badge badge-info" th:href="@{/ver/}+${cliente.id}"></a></th>
					<th th:text="${cliente.nombre}"></th>
					<th th:text="${cliente.apellido}"></th>
					<th th:text="${cliente.email}"></th>
					<th th:text="${cliente.createAt}"></th>
					<th><a th:href="@{/factura/form/}+${cliente.id}" class="badge badge-primary">Factura</a></th>
					<th><a class="badge badge-success" th:href="@{/form/}+${cliente.id}">Editar</a></th>
					<th><a class="badge badge-danger" th:href="@{/eliminar/}+${cliente.id}">Eliminar</a></th>
					
					</tr>
					</tbody>

				</table>
				
				<nav th:replace="fragments/paginator :: paginador"></nav>
			</div>
		</div>
		
		<footer th:replace="fragments/layout :: footer"></footer>

	</div>

</body>
</html>