<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
	<body>
	
		<header th:replace="layout/layout :: header"></header>
		
		<div class="container my-4">
		
			<div class="card">
				
				<h5 class="card-header" th:text="${titulo}"></h5>
				
				<div class="card-body">
					<img th:if="${#strings.length(cliente.foto) > 0}" class="float-left img-thumbnail mx-4" style="max-width: 25%;" th:alt="${cliente.foto}" th:src="@{/uploads/}+${cliente.foto}">
				
					<ul class="list-group mx-4">
						<li class="list-group-item" th:text="${cliente.nombre}"></li>
						<li class="list-group-item" th:text="${cliente.apellido}"></li>
						<li class="list-group-item" th:text="${cliente.email}"></li>
						<li class="list-group-item" th:text="${cliente.createAt}">
					
					</ul>
				
				</div>
			
			
			</div>
		
		
		</div>
	
	</body>
</html>